//COLORS
$color-primary : #54a0ff;
$color-primary-light: #65a9ff;
$color-primary-dark : #2184ff;
$color-grey-dark: #777;
$color-white : #fff;
$color-black: #000;


//GRID

$row-width : 114rem;
$gap-y: 8rem;
$gap-x: 6rem;